<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HODLINFO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="navbar">
        <div class="align-items-center justify-content-sm-center d-flex">
            <div class="text-center-sm heading"><a href="./" style="text-decoration: none;color: aqua;"><h1>HODLINFO</h1></a></div>
            <div class="text-center mx-5 px-5">
                <div class="btn-group px-3">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">INR</button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="./">INR</a></li>
                    </ul>
                </div>
                <div class="btn-group px-3">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">base</button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="./">BTC</a></li>
                      <li><a class="dropdown-item" href="./">ETH</a></li>
                      <li><a class="dropdown-item" href="./">XRP</a></li>
                      <li><a class="dropdown-item" href="./">TRX</a></li>
                      <li><a class="dropdown-item" href="./">EOS</a></li>
                      <li><a class="dropdown-item" href="./">ZRX</a></li>
                      <li><a class="dropdown-item" href="./">ZIL</a></li>
                      <li><a class="dropdown-item" href="./">BAT</a></li>
                      <li><a class="dropdown-item" href="./">REQ</a></li>
                      <li><a class="dropdown-item" href="./">NULS</a></li>
                    </ul>
                </div>
                <div class="btn-group px-3">
                    <a href="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&utm_medium=affiliate&utm_campaign=regnow-btn" target="_blank"><button type="button" class="btn btn-secondary">BUY COIN</button></a>
                </div>
            </div>

            <a class="color-white" href="https://hodlinfo.com/connect/telegram" target="_blank" style="text-decoration: none;background-color: transparent;">

                <div class="d-flex telegram-logo-text header-telegram-button btn align-items-center pointer color-white">
                
                <div class="d-inline-block">
                
                <img src="../static/images/telegram.png" class="telegram-logo"> </div>
                
                <div class="text-nowrap d-inline-block color-white">Connect Telegram</div>
                
                </div>
                
            </a>
            
        </div>
    

    </div>

    <!-- Bitcoin content -->
    <div class="tables">
        <table class="table">
            <thead style="background-color:rgb(5, 21, 52);">
                <tr class="myhead" style="color:grey;justify-content: center;align-items: center;font-weight:bolder;padding:30px;">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Base_Unit</th>
                    <th scope="col">Last Traded Price</th>
                    <th scope="col">Buy/Sell Price</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody id="myTable" style="background-color:black;color:white;">
            - var x=1;
                each coin in data
                    <tr>
                        td= x++
                        <td><a href="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&utm_medium=affiliate&utm_campaign=regnow-btn" target="_blank" style="text-decoration: none;color: white;">#{coin.name}</a></td>
                        <td>#{coin.base_unit}</td>
                        <td>&#8377;#{coin.last}</td>
                        <td>&#8377;#{coin.buy} / &#8377;#{coin.sell}</td> 
                        if coin.sell >= coin.buy
                            <td style="color: green;font-size:30px;">&#8679;</td>
                        else
                            <td style="color: red;font-size:30px;">&#8681;</td>
                    </tr>  
            </tbody>
        </table>
    </div>

    <div style="color:grey; padding:5px">
    <hr>
      |  Copyright © 2019 HodlInfo.com    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
       | integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
       | crossorigin="anonymous"></script>
</body>

</html>